h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

#grid-container {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
}

#clear-grid {
    margin: 25px;
}

#change-size {
    margin: 25px;
}